<%= form_for @bill, html: { class: 'form', multipart: true} do |f| %>
    <div class="form-group">
        <%= f.label :name%>
        <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.label :value %>
        <%= f.number_field :value, class: 'form-control', step: :any %>
    </div>
    <div class="form-group">
        <%= f.label :category_id %>
        <%= collection_select(:bill, :category_id, @categories, :id, :name, {}, {:class => 'form-control'})%>
    </div>
     <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image %>
    </div>
    <div class="form-group">
            <%= f.submit 'Save', :class => 'btn btn-success' %>
    </div>

<% end %>