<h1>Products list</h1>
    <%= link_to 'Create', new_product_path %>       
<table border="2">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </thead>
    <% @products.each do |product| %>
    <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td>
            <%= link_to 'Edit' , edit_product_path(product) %>
            <%= link_to 'Delete', product, method: :delete, data: { confirm: "Are you sure you want to delete this product?" } %>
        </td>
        </td>
    </tr>
    <% end %>
</table>